p {
    color: rgb(84, 239, 245);
    font-family: Helvetica;
    font-size: medium;
    text-align: center;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.35);
}

h2 {
    color: rgb(84, 239, 245);
    font-family: Helvetica;
    font-size: medium;
    text-align: justify;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.35);

}

body {
    background: url("fondo.jpg")
}