p {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: medium;
    text-align: center;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.35);
    animation-duration: 3s;
    animation-name: slidein;


}

h1 {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: medium;
    text-align: center;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.35);
}



h3 {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: medium;
    text-align: center;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.35);
}

h4 {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: medium;
    text-align: center;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.35);


}
img{
    margin-left: 35%;
    
}
ul {
    display: table;
    margin: auto;



}

ol {
    display: table;
    margin: auto;

}

li {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: medium;
    text-align: center;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.35);
}

h2 {
    color: rgb(0, 0, 0);
    font-family: Helvetica;
    font-size: medium;
    text-align: justify;
    text-shadow: 5px 5px 2px rgba(0, 0, 0, 0.35);

}

body {
    background: url("fondo.jpg")
}



@keyframes slidein {
    from {
        margin-left: 100%;
        width: 300%
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}
